/* Universal Syles */

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Header */

header {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    position: relative;
    padding-top: 120px;
    padding-bottom: 60px;
    color: white;
    box-shadow: inset 0 0 0 1000px rgba(39, 51, 153, 0.2);
    border-bottom: 4px solid rgba(194, 187, 206, 0.75);
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 0 0 2em;
}

li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
    font-size: 1.2em;
    font-weight: 200;
}

li a {
    text-decoration: none;
    color: white;
}

li a:hover {
    color: rgba(255, 255, 255, 0.65);
}

h1 {
    text-align: center;
    font-weight: 300;
}

header p {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 100;
}

header p,
header h1,
header ul {
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.75);
}

/* Main Content */

main {
    color: rgb(82, 82, 82);
}

.main-content {
    background-color: rgba(185, 185, 185, 0.25);
}

.page-description {
    max-width: 90%;
    margin: auto;
    line-height: 1.2em;
    letter-spacing: .01em;
    padding: 40px 0;
}

.page-description p {
    font-size: 1.1rem;
    font-weight: 300;
}

.beta-testers {
    margin: 80px 0;
}

.beta-testers p {
    text-align: center;
}

h2 {
    font-weight: 300;
    font-size: 2em;
    line-height: 1.2em;
    text-shadow: 1px 4px 6px rgba(0, 0, 0, 0.30);
}

/* Form */

.form-flex {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: white;
    padding: 60px;
    margin-bottom: 75px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.30);
}

legend {
    margin: auto;
}

fieldset {
    border: none;
}

input[type="text"],
input[type="email"] {
  margin: 10px 0;
  padding: 10px; 
  border-radius: 5px;
  color: rgb(82, 82, 82);
  font-weight: 200;
  width: 100%;
  border: 1px solid rgb(82, 82, 82);
  outline: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.30);
}

input[type="submit"] {
    padding: 10px 20px;
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(83, 36, 255);
}

input[type="submit"]:hover {
    background-color: rgb(0, 0, 0);
    transition: .4s;
    color: yellow;
}

input[type="submit"]:active {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.30);
}

label {
    font-size: .85em;
}

/* Media Query */

@media (min-width: 768px) {
    
    header p {
        font-size: 2rem;
    }

    .page-description {
        max-width: 75%;
    }
}

@media (min-width: 1024px) {
    
    nav ul {
        display: flex;
        justify-content: flex-end;
        position: relative;
        bottom: 115px;
        right: 15px;
    }

    .page-description {
        max-width: 55%;
    }

}
