/* Universal Syles */

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Header */

header {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    position: relative;
    padding-top: 120px;
    padding-bottom: 60px;
    color: white;
    box-shadow: inset 0 0 0 1000px rgba(0, 15, 153, 0.2);
}

nav ul {
    display: inline-block;
    position: relative;
    bottom: 100px;
    left: 925px;
}

li {
    list-style: none;
    display: inline;
    padding: 0 10px;
    font-size: 1.2em;
    font-weight: 200;
}

li a {
    text-decoration: none;
    color: white;
}

li a:hover {
    color: rgba(255, 255, 255, 0.65);
}

h1 {
    text-align: center;
    font-weight: 300;
}

header p {
    text-align: center;
    font-size: 2em;
    font-weight: 100;
}

header p,
header h1,
header ul {
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.75);
}

/* Main Content */

.main-content {
    max-width: 75%;
    margin: auto;
}

.page-description {
    margin-top: 0;
    padding: 0;
}
